"""

* {
  margin 0px !important;
}

.svelte-1btp92j {
  shadow-box: 0 0 0 5px #011206;
}

gradio-app {
  background-image: url("") !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-size: cover !important;
}

#titulo {
  margin: 0 0 0 70px;
}

.svelte-1030q2h {
  visibility: hidden !important;
}

#audio {
  margin: 0 0 0 1700px;
}

#seccion_de_lado {
  width: 750px;
  height: 250px;
}

#imagen_personaje {
  margin: 0 0 0 140px;
  width: 225px;
  height: 225px;
}

#descripcion_personaje {
  width: 370px;
  height: 400px;
}

#seccion_mensajes {
  margin: 0 0 0 140px;
  width: 950px;
}

#seccion_apis {
  width:466px;
}
"""
